@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #92623A   ;
    --secondary-color: #005200 ;
    --accent1-color: #D0AA8A;
    --accent2-color: #62D5E4;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Kalam";
    --paragraph-font: "Montserrat";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #92623A;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #92623A; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #92623A  ;
    --nav-link-color: #D0AA8A;
    --nav-background-color: #005200;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #92623A;
  }

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#ranch-name {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #92623A;
    border-radius: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}
body{
    background-color: #D0AA8A;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Kalam";
    color: #D0AA8A;
  }
h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.two{
    margin-top: -70px;
}
h2 {
    margin: 0;
}
header{
    background-color: #92623A;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-right: 130px;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #005200;
    color: white;
    border-radius: 20px;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#name{
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: -1;
    text-align: center;
}
#hero-img{
    width: 85%;
    border: 5px solid #005200;
    border-radius: 5px;
}
#banner-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 75%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
    margin: 10px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.button-box{
    text-align: center;
}
.home-grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 400px;
    background-color: #92623A;
    grid-column: 1/11;
    grid-row: 4/9;
    margin-top: 50px;
}
.button{
    background-color: #005200;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    border: 1px black;
}
.button:hover{
    background-color: #92623A ;
    color: #005200;
}
.button2{
    background-color: #005200;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    border: 1px black;
}
.button2:hover{
    background-color: #D0AA8A ;
    color: black;
    font-weight: bold;
}
.color{
    color: black;
}
.about-card, .sign-up-card{
    margin: 50px 0;
    text-align: center;
    width: 300px;
}
.about-card{
    margin: 0 auto;
    margin-bottom: 50px;
    grid-column: 2/5;
    grid-row: 1/2;
}
.sign-up-card{
    margin: 0 auto;
    grid-column: 2/5;
    grid-row: 2/3;
}
.card-img{
    border: 10px solid #005200;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}
.card-img1{
    border: 10px solid #92623A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}
.contact-img{
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 100px;
}
#contact-img{
    border: 10px solid #005200;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 5px;
}
.contact-set{
    grid-column: 3/6;
    grid-row: 1/2;
    text-align: left;
    margin-left: 200px;
    margin-right: 150px;
    padding: 30px;
    background-color: #92623A;
    border-radius: 30px;
}
.form{
    background: #92623A;
    grid-column: 1/6;
    grid-row: 2/3;
    padding-top: 20px;
    margin: 50px;
    border-radius: 100px;
}
.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.lable1{
    width: 100px;
}
#first-name{
    width: 500px;
}
.list2{
    grid-column: 1/3;
    grid-row: 2/3;
}
.lable2{
    width: 100px;
}
#last-name{
    width: 500px;
}
.list3{
    grid-column: 1/3;
    grid-row: 3/4;
}
.lable3{
    width: 100px;
}
#mail{
    width: 500px;
}
.list4{
    grid-column: 3/4;
    grid-row: 1/4;
    margin-right: 160px;
    padding-bottom: 50px;
    width: 400px;
}
.list5{
    grid-column: 1/4;
    grid-row: 4/6;
}
.lable5{
    width: 100px;
}
#msg{
    width: 950px;
    height: 300px;
}
.list6{
    grid-column: 2/3;
    grid-row: 6/7;
    margin-top: 20px;
    padding-left: 500px;
    width: 200px;
}
.msg{
    background-color: #D0AA8A;
    line-height: 1.5em;
    padding: 35px;
    width: 1000px;
    grid-column: 2/5;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #4c3228;
    margin-top: 50px;
    border-radius: 500px;
}
.msg h2{
    color: white;
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
h4{
    color: black;
}
.person1 h2, .person2 h2, .horse1 h2, .horse2 h2{
    color: lightgray;
}
.person1{
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: left;
    padding-left: 150px;
    padding-right: 490px;
}
.person2{
    grid-column: 2/6;
    grid-row: 1/3;
    text-align: left;
    padding-right: 188px;
    padding-left: 252px;
    margin-top: 580.5px;
    z-index: 1;
}
.horse1{
    grid-column: 1/6;
    grid-row: 3/4;
    text-align: left;
    padding-left: 150px;
    padding-right: 510px;
}
.horse2{
    grid-column: 2/6;
    grid-row: 3/5;
    text-align: left;
    padding-right: 188px;
    padding-left: 275px;
    margin-top: 631.5px;
    z-index: 1;
}
#im1{
    grid-column: 5/6;
    grid-row: 1/2;
    width: 60%;
    margin-left: 20px;
}
#im2{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 140%;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-top: 350px;
}
#im3{
    grid-column: 5/6;
    grid-row: 3/4;
    width: 60%;
    margin-right: 500px;
}
#im4{
    grid-column: 1/2;
    grid-row: 3/5;
    width: 150%;
    margin-left: 150px;
    margin-top: 345.5px;
}
.about-div1{
    border: 10px solid #92623A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
    background-color: #92623A;
    color: lightgray;
}
.about-div2{
    border: 10px solid #92623A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 0px 5px 5px 0px;
    padding-left: 20px;
    background-color: #92623A;
    color: lightgray;
}
.about-div3{
    border: 10px solid #92623A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
    background-color: #92623A;
    color: lightgray;
}
.about-div4{
    border: 10px solid #92623A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 0px 5px 5px 0px;
    padding-left: 20px;
    background-color: #92623A;
    color: lightgray;
}
footer{
    background-color: #92623A;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: black;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer a:hover{
    color: #eccca2;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
   padding-top: 15px;
}

form {
    width: auto;
    padding: 50px;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
} 
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}  
textarea {
    vertical-align: top;
    height: 5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
  

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}